body{
    margin: 0 auto;
    text-align: center;
    /*display: flex;
    justify-content: center;*/
    background-image: url("../imagenes/fondo01.jpg");
}
.contenedor{
    /* Encriptador - 1 Desktop */
    width: 1440px;
    height: 1024px;
    max-width: 1440px;
    max-height: 1024px;
    /* Light blue/light-blue-100 */
    background: #F3F5FC;
    margin: 0 auto;
    box-sizing: border-box;
}
.contenedorIzquierda{
    width: 100%;
    max-width: 960px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    /*max-height: 949px;*/
    height: 949px;
    /*background-color: violet;*/
}
.encabezado{
    width: 100%;
    height: 50px;
    max-width: 1440px;
    text-align: left;
}


/* Logo */
#contenedorLogo{

}

.contenedorFormulario {
    margin-left: 240px;
    height: 800px;
    max-height: 800px;
}
.contenedorFormulario textarea{
    width: 100%;
    max-width: 680px;
    height: 755px;
    max-height: 755px;
    /*margin-left: 120px;*/
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    background: none;
    border: none;
    border-style: none;
    resize: none;
}
.textoMensaje:focus{
    outline: none;
}
.contenedorFormulario textarea::placeholder {
    color: #0A3871;
}
/*
.contenedorFormulario textarea:focus {
    border: none;
    border-style: none;
}
*/


.contenedorInferior{
    width: max-content;
    height: 105px;
    /*margin-bottom: 40px;*/
    display: block;
    /*align-items: flex-end;*/
}
.aclaracion{
    /* Frame 1 */
    /* Auto layout */
    /*display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
*/
    text-align: left;
    width: 229px;
    height: 18px;
    margin-bottom: 16px;
}
#simboloAclaracion{
    /* bi:exclamation-circle-fill */
    width: 16px;
    height: 16px;
    /* Inside auto layout */
    float: left;
    /*order: 0;
    flex-grow: 0;*/
    background: #495057;
    color: #f3f5fc;
    text-align: center;
    border-style: solid;
    border-radius: 16px;
}
.aclaracionTexto{
    /* Solo letras minúsculas y sin acentos */
    width: 205px;
    height: 18px;
    float: left;

    /*font-family: 'Inter';*/
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    /* Gray/gray-400 */
    color: #495057;
    opacity: 0.8;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.contenedorBotones{
    /* Frame 3 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    max-width: 680px;
    
}
#btnEncriptar{
    /* Button */
    
    width: 328px;
    height: 67px;
    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* White */

    color: #FFFFFF;

}
#btnDesencriptar{
    /* Button */
    box-sizing: border-box;
   
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.contenedorDerecha{
    /*position: absolute;*/
    float: right;
    width: 400px;
    max-width: 400px;
    height: 949px;
    /*left: 1000px;
    top: 41px;*/
    margin-top: 40px;
    margin-right: 40px;
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    /*align-items: center;*/
    display: flex;
    align-items: center;
    
}

.agrupadorSinMensaje{
    
    
    margin: 0 auto;
    display: block;
    align-items: center;
    align-self: center;
    /*vertical-align: middle;*/
    padding: 0 auto;
    
    float: left;
}
.contenedorImagenMujer{
    display: block;
}
#imagenMujer{
    object-fit: contain;
    /*display: block;*/
}
/*
.agrupadorBajoMujer{
    vertical-align: middle;
}
#tituloBajoMujer, #instruccionBajoMujer{
    display: block;
}
#tituloBajoMujer h1{
    display: flex;
    vertical-align: middle;
}
*/
.agrupadorConMensaje{
    align-items: center;
    margin: 0 auto;
    /*vertical-align: middle;*/
    padding: 32px auto;
    display: none;
    /*background-color: chartreuse;*/
    box-sizing: border-box;
    float: left;
}

#contenedorTextoCifrado {
    /*display: flex;*/
    /*flex-direction: row;*/
    align-items: flex-start;
    padding: 32px 0px;
    /*gap: 24px;*/

    position: relative;
    width: 336px;
    max-width: 336px;
    height: 781px;
    max-height: 781px;
    
    /*background-color: aqua;*/
}
#contenedorTextoCifrado #textoCifrado {
    width: 336px;
    max-width: 336px;
    height: 781px;
    max-height: 781px;
    
    text-align: left;
    color: #0A3871;
    font-weight: 400;
    font-size: 32px;
    background: none;
    border: none;
    border-style: none;
    resize: none;
}

.contenedorBotonCopiar {
    float: left;
    align-items: flex-end;
    /*background-color: blanchedalmond;*/
}

#btnCopiar {
    /* Button */
    box-sizing: border-box;
   
    width: 328px;
    height: 67px;
    /* Light gray */
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    /* Inside auto layout 
    flex: none;
    order: 1;
    flex-grow: 0;*/
    /*display: flex;
    align-items: flex-end;*/
}

/************************************************************/
@media screen and (max-width:768px) {
    .contenedor{
        height: 2000px;
        min-height: 1174px;
        max-height: fit-content;
        width: 768px;
        max-width: 768px;
        display: block;
        /*box-sizing: border-box;*/
    }
    .contenedorIzquierda{
        display: block;
        width: 768px;
        max-width: 768px;
        float: left;
        height: 950px;
        margin-left: 0px;
    }
    .contenedorFormulario{
        margin-left: 0px;
    }
    .contenedorInferior{
        margin-left: 40px;
    }
    .contenedorDerecha{
        /*display: block;*/
        /*float: left;*/
        width: 688px;
        max-width: 688px;
        /*height: 133px;*/
        min-height: 133px;
        /*margin: 0 auto;*/
        max-height: fit-content;
        text-align: center;
    }
    #contenedorTextoCifrado #textoCifrado {
        width: 600px;
        max-width: 600px;
        padding-left: 40px;
        padding-bottom: 40px;
        min-height: 133px;
        /*max-height: 600px;*/
        max-height: fit-content;
        height: 500px;
    }
    .agrupadorSinMensaje, .agrupadorConMensaje{
        /*margin: 0 auto;*/
        text-align: center;
    }
    .contenedorImagenMujer{
        display: none;
    }

    .agrupadorSinMensaje{
        /*display: none;*/
    }
    .agrupadorConMensaje{
        margin: 0;
        width: 100%;
        /*display: block;*/
    }
    #contenedorTextoCifrado{
        width: 640px;
        max-width: 640px;
        height: auto;
        margin: 0 auto;
    }
    .agrupadorConMensaje .contenedorBotonCopiar{
        margin: 0 auto;
        justify-content: center;
        display: flex;
        text-align: center;
        padding-left: 40px;
    }
    #btnCopiar{
        /*justify-content: center;*/
        margin: 0 auto;
        width: 620px;
    }
}

@media screen and (max-width:480px) {
   
    .contenedorImagenMujer{
        display: none;
    }
    .contenedorInferior{
        display: block;
    }
    .contenedorInferior .contenedorBotones {
        display: block;
    }
    #btnEncriptar, #btnDesencriptar {
        display: block;
    }

}
